In [1]:
import numpy as np 
import pandas as pd

## Numpy

#### Array vs list

공통점  
- 아이템들의 컬렉션이다.
- 아이템들의 순서가 있다.

차이점  
- 리스트는 여러가지 자료형 허용, 내부 배열에서 원소 개수 달라도 ok
- 배열은 한 가지 자료형만 허용, 내부 배열 내 원소 개수가 모두 같아야 함
- 리스트는 덧셈 시 항목을 이어 붙이는 concatenate를 수행
- 배열은 덧셈 시 항목 간 덧셈을 수행
- 자료형 종류가 다르기 때문에 자료형에서 지원하는 메소드의 종류에도 차이 존재  
(ex. 리스트에서는 mean, argmax, round 등 어레이 메소드를 지원하지 않고, 배열에서는 append, remove, extend 등 리스트 메소드를 지원하지 않음.)
- 배열이 연산이 더 빠름

In [3]:
l1 = [1, 3, 5, 'a', 'b'] # 1, 3, 5는 숫자형, 'a', 'b'는 문자열
a1 = np.array([1, 3, 5, 'a', 'b']) # '1', '3', '5', 'a', 'b'의 문자열로 전환
print(a1) # 하나의 type으로 통일하기 위해 다 문자열로 바뀐 것을 알 수 있음

['1' '3' '5' 'a' 'b']

In [11]:
l1 = [[1], [3, 5], [2, 4, 6]] # 문제 X
a1 = np.array([[1], [3, 5], [2, 4, 6]]) # 개수가 달라서 array 선언 불가능
#np.array([list([1]), list([3, 5]), list([2, 4, 6])], dtype=object)
print(l1)
print(a1)

[[1], [3, 5], [2, 4, 6]]

<ipython-input-11-885569368f72>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a1 = np.array([[1], [3, 5], [2, 4, 6]]) # 개수가 달라서 array 선언 불가능

#### 리스트, 넘파이 연산

In [16]:
# 리스트 연산
l1 = [1, 3, 5]
l2 = [2, 4, 6]

print(l1 + l2) 
print(l1 * 3)

[1, 3, 5, 2, 4, 6]
[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [17]:
# 넘파이 어레이 연산
a1 = np.array([1, 3, 5])
a2 = np.array([2, 4, 6])

print(a1 + a2 )
print(a1 * a2 )
print(a1 + 2)
print(a1 * 3 )

[ 3  7 11]
[ 2 12 30]
[3 5 7]
[ 3  9 15]

In [ ]:
a1 = np.array([1,2,3])
print(a1)
print(a1.shape) # 3개의 원소가 존재하는 1차원 배열 (3,)
print(a1[0], a1[2], a1[1]) # 리스트처럼 인덱싱으로 접근 가능
a1[0] = 10
print(a1)

[1 2 3]
(3,)
1 3 2
[10  2  3]

In [ ]:
a2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a2)
print(a2.shape) # 3 * 3의 array (3,3)
print(a2[0], a2[2], a2[2]) # 리스트처럼 인덱싱으로 접근 가능
a2[0] = 20
print(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)
[1 2 3] [7 8 9] [7 8 9]
[[20 20 20]
 [ 4  5  6]
 [ 7  8  9]]

In [ ]:
a1 = np.array([1,2,3])
print(a1)
print(a1.ndim)
print(a1.shape)

[1 2 3]
1
(3,)

In [ ]:
a2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a2)
print(a2.ndim)
print(a2.shape)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
2
(3, 3)

#### 초기화 함수

In [18]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [19]:
np.full((3,3),1.5) #3*3의 ndarray를 만들고 안은 1.5로 채워주세요

array([[1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5]])

In [20]:
np.eye(3) #identity matrix라서 size만 지정해주면 됨 -> 3*3 identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [21]:
print(a1)
np.zeros_like(a1) #a1과 같은 shape의 배열 생성

[1 3 5]

array([0, 0, 0])

#### 범위 지정 행렬 생성

In [22]:
np.arange(0,30,2) # 0부터 30까지(30은 포함하지 말고) 2 간격으로 array 생성해줘

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [23]:
np.linspace(0,1,5) #0부터 1까지 균등하게 5개로 나눠줘

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [24]:
#np.logspace(start,end,num=개수,endpoint=True,base=10.0,dtype=자료형)
np.logspace(0,4,4,endpoint=False) #0부터 3까지를 등간격으로 나누어 4개의 데이터 생성

array([   1.,   10.,  100., 1000.])

In [25]:
np.random.random((3,3)) # 랜덤한 실수 뽑아 3*3 array 형태로 반환

array([[0.15120601, 0.56474386, 0.39539684],
       [0.54524965, 0.48096174, 0.76891843],
       [0.93540104, 0.71791345, 0.15830274]])

In [29]:
np.random.randint(0,10,size=(3,3)) # 0부터 10까지의 정수 중 랜덤하게 뽑아 3*3 array 형태로 반환

array([[6, 1, 8],
       [1, 4, 9],
       [7, 1, 1]])

In [31]:
np.random.normal(0,1, size=(3,3)) #정규분포를 고려해서 랜덤하게 뽑아 3*3 array 형태로 반환

array([[-0.90190939, -0.20943322,  0.32686689],
       [-2.27266352, -1.10775845, -0.72320351],
       [ 1.62021291,  1.07331713, -0.86505673]])

#### 브로드캐스팅

In [42]:
#브로드캐스팅 예시

a1 = np.array([1,2,3,4,5])
a1=a1.reshape(5,1)
print('a1')
print(a1)
print('------------------------')
a2 = np.array([6,7,8,9,10])
print('a2')
print(a2)
print('------------------------')
print('브로드캐스팅으로 a1과 a2가 서로 shape을 맞춰 더해집니다')
print('a1+a2')
print(a1+a2)

a1
[[1]
 [2]
 [3]
 [4]
 [5]]
------------------------
a2
[ 6  7  8  9 10]
------------------------
브로드캐스팅으로 a1과 a2가 서로 shape을 맞춰 더해집니다
a1+a2
[[ 7  8  9 10 11]
 [ 8  9 10 11 12]
 [ 9 10 11 12 13]
 [10 11 12 13 14]
 [11 12 13 14 15]]

#### 인덱싱 & 슬라이싱

In [44]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr # 설명을 위해 3*3 matrix 생성

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [45]:
arr[0] # 0번째 행을 가져와라

array([1, 2, 3])

In [46]:
arr[0,1] #행을 기준으로 0번쩨. 열을 기준으로 1번째 가져와라

2

In [50]:
arr[0][1] # arr[0] = [1,2,3] 그 중에 1번 index : 2

2

In [49]:
arr[0:2, 0:2] # 행을 기준으로 0,1번째 index
              # 열을 기준으로 0,1번째 index

array([[1, 2],
       [4, 5]])

In [51]:
arr[:,1] # 행 전부 다
         # 열 1번째 index

array([2, 5, 8])

In [52]:
arr[0,:] # 행 0번째 index
         # 열 전부 다

array([1, 2, 3])

In [53]:
arr[[0,2]] # 행을 기준으로 0,2번째 index 추출

array([[1, 2, 3],
       [7, 8, 9]])

In [54]:
arr[[0,2],[1,1]] # 행 0.2번째 index
                 # 열 1번째 index

array([2, 8])

In [59]:
# 불리언 인덱싱
# 짝수만 추출해보자
arr[arr%2==0]

array([2, 4, 6, 8])

#### 배열 재구조화  
* `reshape()`: 배열의 형상을 변경

In [60]:
n1 = np.arange(1,10)
print(n1)
print(n1.reshape(3,3))

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

* `newaxis()`: 새로운 축 추가

In [ ]:
print(n1)
print(n1[np.newaxis, :5]) 
print(n1[:5, np.newaxis])

[1 2 3 4 5 6 7 8 9]
[[1 2 3 4 5]]
[[1]
 [2]
 [3]
 [4]
 [5]]

In [ ]:
print(n1[np.newaxis, :5].shape) 
print(n1[:5, np.newaxis].shape)

(1, 5)
(5, 1)

#### 배열 크기 변경  
* `resize()`: 배열의 크기를 변경

In [ ]:
n2 = np.random.randint(0,10, (2,5))
print(n2)
n2.resize((5,2))
print(n2)

[[0 6 7 8 0]
 [1 0 0 2 2]]
[[0 6]
 [7 8]
 [0 1]
 [0 0]
 [2 2]]

In [ ]:
n2.resize((5,5),refcheck=False)
print(n2)
# 남은 공간 0으로 채워짐

[[0 6 7 8 0]
 [1 0 0 2 2]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [ ]:
n2.resize((3,3),refcheck=False)
print(n2)
# 포함되지 않은 값은 삭제됨

[[0 6 7]
 [8 0 1]
 [0 0 2]]

#### 배열 추가  
* `append()`: 배열의 끝에 값 추가

In [ ]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2 = np.arange(10,19).reshape(3,3)
print(b2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[10 11 12]
 [13 14 15]
 [16 17 18]]

In [ ]:
c2 = np.append(a2, b2)
print(c2)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]

In [ ]:
# axis = 0으로 지정
c2 = np.append(a2, b2, axis = 0)
print(c2)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]]

In [ ]:
# axis = 1로 지정
c2 = np.append(a2, b2, axis = 1)
print(c2)

[[ 1  2  3 10 11 12]
 [ 4  5  6 13 14 15]
 [ 7  8  9 16 17 18]]

* `newaxis()`: 새로운 축 추가

#### 배열 값 삽입(세션 x)  
* `insert()`: 배열의 특정 위치에 값 삽입
* axis를 지정하지 않으면 1차원 배열로 변환
* 추가할 방향을 axis로 지정
* 원본 배열 변경없이 새로운 배열 반환

In [ ]:
print(a1)
b1 = np.insert(a1, 0, 10)
print(b1)
print(a1)
c1 = np.insert(a1, 2, 10)
print(c1)

[9. 4. 3. 4. 4.]
[10.  9.  4.  3.  4.  4.]
[9. 4. 3. 4. 4.]
[ 9.  4. 10.  3.  4.  4.]

In [ ]:
print(a2)
b2 = np.insert(a2, 1, 10, axis = 0)
print(b2)
c2 = np.insert(a2, 1, [1,2,10], axis = 1)
print(c2)

[[0 1 1]
 [4 5 9]
 [7 0 9]]
[[ 0  1  1]
 [10 10 10]
 [ 4  5  9]
 [ 7  0  9]]
[[ 0  1  1  1]
 [ 4  2  5  9]
 [ 7 10  0  9]]

#### 배열 값 삭제(세션 x)

* `delete()`: 배열의 특정 위치에 값 삭제
* axis를 지정하지 않으면 1차원 배열로 변환
* 삭제할 방향을 axis로 지정
* 원본 배열 변경없이 새로운 배열 반환

In [ ]:
print(a1)
b1 = np.delete(a1,1)
print(b1)
print(a1)

[9. 4. 3. 4. 4.]
[9. 3. 4. 4.]
[9. 4. 3. 4. 4.]

In [ ]:
print(a2)
b2 = np.delete(a2, 1, axis = 0)
print(b2)
c2 = np.delete(a2, 1, axis = 1)
print(c2)
# 원본 배열 변경 없음 -> 속도 면에서 장점

[[0 1 1]
 [4 5 9]
 [7 0 9]]
[[0 1 1]
 [7 0 9]]
[[0 1]
 [4 9]
 [7 9]]

#### 배열 복사(세션 x)

* `copy()`: 배열이나 하위 배열 내의 값을 명시적으로 복사

In [ ]:
print(a2)
print(a2[:2, :2])
a2_sub = a2[:2, :2]
print(a2_sub)
a2_sub[:, 1] = 0 
# 받아온 배열도 원본 배열에 영향을 줌 -> 동일한 메모리 위치 사용
# 영향 안주고 싶으면 copy해야 함
print(a2_sub)
print(a2)

[[0 1 1]
 [4 5 9]
 [7 0 9]]
[[0 1]
 [4 5]]
[[0 1]
 [4 5]]
[[0 0]
 [4 0]]
[[0 0 1]
 [4 0 9]
 [7 0 9]]

In [ ]:
print(a2)
a2_sub_copy = a2[:2, :2].copy()
print(a2_sub_copy)
a2_sub_copy[:, 1] = 1
print(a2_sub_copy)
print(a2)

[[0 0 1]
 [4 0 9]
 [7 0 9]]
[[0 0]
 [4 0]]
[[0 1]
 [4 1]]
[[0 0 1]
 [4 0 9]
 [7 0 9]]

#### 배열 값 확인(세션 X)
* `np.where()`: 조건 만족 인덱스 반환 
* `np.unique()`: 주어진 배열에서 모든 고유 값을 검색하고 이러한 고유 값을 정렬

In [ ]:
a1 = np.arange(5, 15) 
print(a1)
print(np.where(a > 10))

[ 5  6  7  8  9 10 11 12 13 14]
(array([6, 7, 8, 9]),)

In [ ]:
a2 = np.array([[2,3,4],
              [5,4,7],
              [4,2,3]])
unique_array=np.unique(a2, return_counts=True)
print(unique_array)

(array([2, 3, 4, 5, 7]), array([2, 2, 3, 1, 1]))

### 병합 & 분할 (stack, split) (세션 x)

#### 배열 병합  
* `concatenate()`: 튜플이나 배열의 리스트를 인수로 사용해 배열 연결

In [ ]:
a1 = np.array([1,3,5])
b1 = np.array([2,4,6])
np.concatenate([a1, b1])

array([1, 3, 5, 2, 4, 6])

In [ ]:
c1 = np.array([7,8,9])
np.concatenate([a1,b1,c1])

array([1, 3, 5, 2, 4, 6, 7, 8, 9])

In [ ]:
a2 = np.array([[1,2,3],
               [4,5,6]])
np.concatenate([a2,a2])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [ ]:
a2 = np.array([[1,2,3],
               [4,5,6]])
np.concatenate([a2,a2], axis = 1)

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

* `vstack()`: 수직 스택(vertical stack)

In [ ]:
np.vstack([a2,a2])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [ ]:
np.vstack([a2,a2]).shape

(6, 3)

* `hstack()`: 수평 스택(horizontal stack)

In [ ]:
np.hstack([a2,a2])

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

* `dstack()`: 깊이 스택(depth stack)

In [ ]:
np.dstack([a2,a2])

array([[[1, 1],
        [2, 2],
        [3, 3]],

       [[4, 4],
        [5, 5],
        [6, 6]]])

* `stack()`: 새로운 차원으로 연결

In [ ]:
np.stack([a2,a2])

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

#### 배열 분할  
* `split()`: 배열 분할

In [ ]:
a1 = np.arange(0,10)
print(a1)
b1, c1 = np.split(a1, [5]) # 인덱스 5 기준으로 split
print(b1, c1)
b1, c1, d1, e1, f1 = np.split(a1, [2,4,6,8])
print(b1, c1, d1, e1, f1)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4] [5 6 7 8 9]
[0 1] [2 3] [4 5] [6 7] [8 9]

* `vsplit()`: 수직 분할

In [ ]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2, c2 = np.vsplit(a2, [2])
print(b2)
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]]
[[7 8 9]]

* `hsplit()`: 수평 분할

In [ ]:
a2 = np.arange(1,10).reshape(3,3)
print(a2)
b2, c2 = np.hsplit(a2, [2])
print(b2)
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2]
 [4 5]
 [7 8]]
[[3]
 [6]
 [9]]

* `dsplit()`: 깊이 분할

In [ ]:
a3 = np.arange(1,28).reshape(3,3,3)
print(a3)
b3, c3 = np.hsplit(a3, [2])
print(b3)
print(c3)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]
[[[ 1  2  3]
  [ 4  5  6]]

 [[10 11 12]
  [13 14 15]]

 [[19 20 21]
  [22 23 24]]]
[[[ 7  8  9]]

 [[16 17 18]]

 [[25 26 27]]]

## Pandas

![image.png]()

#### 타이타닉 데이터 불러오기

In [62]:
# 내 구글 드라이브와 구글 코랩 연결하기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [63]:
# titanic 데이터셋 불러오기
# 마운트 완료되었으면 파일 찾아서 경로 복사해서 pd.read_csv안에 넣으면 됩니다
titanic_df = pd.read_csv('/content/drive/MyDrive/Titanic.csv', index_col=0)

In [ ]:
titanic_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

#### 데이터 살펴보기

In [ ]:
titanic_df.shape

(418, 10)

In [ ]:
titanic_df.dtypes

Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [ ]:
titanic_df.columns # 컬럼들 이름 보여주는 코드

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanic_df.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [ ]:
titanic_df.isnull().sum()['Cabin']

327

In [ ]:
titanic_df.rename(columns={"Name":"Passenger_Name", "Ticket":"Ticket_Num"}, inplace=False)

,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
titanic_df.dropna(axis=0, inplace=False)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
...,...,...,...,...,...,...,...,...,...,...
1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C

In [ ]:
mean_age = titanic_df['Age'].mean()
print(mean_age)
titanic_df.fillna(mean_age,axis=1, inplace=False)

30.272590361445783

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,30.27259,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,30.27259,S
894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,30.27259,Q
895,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,30.27259,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,30.27259,S
...,...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,30.27259,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,30.27259,S
1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,30.27259,S
1309,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,30.27259,C

In [ ]:
titanic_df.describe()

           Pclass         Age       SibSp       Parch        Fare
count  418.000000  332.000000  418.000000  418.000000  417.000000
mean     2.265550   30.272590    0.447368    0.392344   35.627188
std      0.841838   14.181209    0.896760    0.981429   55.907576
min      1.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000   21.000000    0.000000    0.000000    7.895800
50%      3.000000   27.000000    0.000000    0.000000   14.454200
75%      3.000000   39.000000    1.000000    0.000000   31.500000
max      3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
titanic_df['Pclass'].value_counts()

3    218
1    107
2     93
Name: Pclass, dtype: int64

In [ ]:
titanic_df[['Pclass','Sex']].value_counts()

Pclass  Sex
3       male      146
        female     72
2       male       63
1       male       57
        female     50
2       female     30
dtype: int64

In [ ]:
titanic_df.sort_values(by='Age', ascending=False, inplace=False)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S
973,1,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S
1128,1,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,D37,C
1197,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S
1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C
...,...,...,...,...,...,...,...,...,...,...
1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
titanic_df.sort_values(by=['Pclass','Age'], ascending=(False,False), inplace=False)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S
917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
1201,3,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0,1,0,350026,14.1083,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
1083,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
1097,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
1158,1,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,112051,0.0000,NaN,S
1182,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S

In [ ]:
titanic_df.nunique()

Pclass        3
Name        418
Sex           2
Age          79
SibSp         7
Parch         8
Ticket      363
Fare        169
Cabin        76
Embarked      3
dtype: int64

#### 인덱싱 & 슬라이싱

In [ ]:
titanic_df['Pclass'] #Pclass 열 다 보여주는 코드

PassengerId
892     3
893     3
894     2
895     3
896     3
       ..
1305    3
1306    1
1307    3
1308    3
1309    3
Name: Pclass, Length: 418, dtype: int64

In [ ]:
titanic_df[:2] #0,1번째 행을 보여주는 코드

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [75]:
titanic_df[titanic_df['Pclass'] == 1] # 불리언 인덱싱

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C

In [74]:
titanic_df.loc[titanic_df['Pclass'] == 1,'Name'] 
# loc를 이용하면 원하는 조건을 만족하는 행과 열까지 지정해서 추출 가능

PassengerId
903                            Jones, Mr. Charles Cresson
904         Snyder, Mrs. John Pillsbury (Nelle Stevenson)
906     Chaffee, Mrs. Herbert Fuller (Carrie Constance...
912                                Rothschild, Mr. Martin
914                  Flegenheim, Mrs. Alfred (Antoinette)
                              ...
1295                               Carrau, Mr. Jose Pedro
1296                         Frauenthal, Mr. Isaac Gerald
1299                           Widener, Mr. George Dunton
1303      Minahan, Mrs. William Edward (Lillian E Thorpe)
1306                         Oliva y Ocana, Dona. Fermina
Name: Name, Length: 107, dtype: object

In [ ]:
titanic_df.loc[:,'Name']

PassengerId
892                                 Kelly, Mr. James
893                 Wilkes, Mrs. James (Ellen Needs)
894                        Myles, Mr. Thomas Francis
895                                 Wirz, Mr. Albert
896     Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                            ...
1305                              Spector, Mr. Woolf
1306                    Oliva y Ocana, Dona. Fermina
1307                    Saether, Mr. Simon Sivertsen
1308                             Ware, Mr. Frederick
1309                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [ ]:
titanic_df.loc[:,['Name','Pclass']]

                                                     Name  Pclass
PassengerId
892                                      Kelly, Mr. James       3
893                      Wilkes, Mrs. James (Ellen Needs)       3
894                             Myles, Mr. Thomas Francis       2
895                                      Wirz, Mr. Albert       3
896          Hirvonen, Mrs. Alexander (Helga E Lindqvist)       3
...                                                   ...     ...
1305                                   Spector, Mr. Woolf       3
1306                         Oliva y Ocana, Dona. Fermina       1
1307                         Saether, Mr. Simon Sivertsen       3
1308                                  Ware, Mr. Frederick       3
1309                             Peter, Master. Michael J       3

[418 rows x 2 columns]

In [ ]:
titanic_df.loc[:,'Name':'Age']

                                                     Name     Sex   Age
PassengerId
892                                      Kelly, Mr. James    male  34.5
893                      Wilkes, Mrs. James (Ellen Needs)  female  47.0
894                             Myles, Mr. Thomas Francis    male  62.0
895                                      Wirz, Mr. Albert    male  27.0
896          Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
...                                                   ...     ...   ...
1305                                   Spector, Mr. Woolf    male   NaN
1306                         Oliva y Ocana, Dona. Fermina  female  39.0
1307                         Saether, Mr. Simon Sivertsen    male  38.5
1308                                  Ware, Mr. Frederick    male   NaN
1309                             Peter, Master. Michael J    male   NaN

[418 rows x 3 columns]

In [ ]:
titanic_df['Survived'] = 1
titanic_df.head(2)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
PassengerId,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1

In [ ]:
# Survived 열 삭제
titanic_df = titanic_df.drop('Survived', axis = 1)
titanic_df.head(2)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

#### 데이터 병합하기(merge, join)

In [ ]:
# 데이터 병합 설명을 위해 데이터 프레임을 직접 만들어보겠습니다
# 직접 데이터 프레임 만드는 코드입니다
# 참고해주시면 감사하겠습니다
## list로 생성 & index(행이름) 및 columns(열이름) 지정
df_left = pd.DataFrame([['K0', 'A0', 'B0'], ['K1', 'A1', 'B1'],['K2','A2','B2'],['K3','A3','B3']],
                    
                    columns=['KEY', 'A', 'B'])
df_left

  KEY   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
# 데이터 병합 설명을 위해 데이터 프레임을 직접 만들어보겠습니다
# 직접 데이터 프레임 만드는 코드입니다
# 참고해주시면 감사하겠습니다
## dictionary 이용해서 생성
df_right = pd.DataFrame({'KEY' : ['K2','K3','K4','K5'],
                      'C' : ['C2', 'C3', 'C4', 'C5'],
                      'D' : ['D2', 'D3', 'D4', 'D5']})
df_right

  KEY   C   D
0  K2  C2  D2
1  K3  C3  D3
2  K4  C4  D4
3  K5  C5  D5

In [ ]:
pd.merge(df_left, df_right,
         how='left', #df_left 기준
         on = 'KEY') #KEY 변수 기준

# df_left의 KEY들이 유지되고(K0,K1,K2,K3) 거기에 해당되는 df_right를 붙임
# df_right의 KEY는 고려되지 x 
# df_right는 K0와 K1을 인덱스로 가지고 있지 않아서 해당 부분은 NaN 값이 됨

  KEY   A   B    C    D
0  K0  A0  B0  NaN  NaN
1  K1  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [ ]:
df_right2 = df_right.drop('KEY', axis=1)
df_right2

    C   D
0  C2  D2
1  C3  D3
2  C4  D4
3  C5  D5

In [ ]:
df_left.join(df_right2, how = 'inner')

  KEY   A   B   C   D
0  K0  A0  B0  C2  D2
1  K1  A1  B1  C3  D3
2  K2  A2  B2  C4  D4
3  K3  A3  B3  C5  D5

#### 데이터 그룹화(groupby)

In [76]:
group_df = titanic_df.groupby('Pclass')
group_df.mean()

              Age     SibSp     Parch       Fare
Pclass
1       40.918367  0.476636  0.383178  94.280297
2       28.777500  0.376344  0.344086  22.202104
3       24.027945  0.463303  0.417431  12.459678

In [81]:
group_df.mean()['Age']

Pclass
1    40.918367
2    28.777500
3    24.027945
Name: Age, dtype: float64

In [80]:
group_df.mean().reset_index()['Age']

0    40.918367
1    28.777500
2    24.027945
Name: Age, dtype: float64

In [83]:
group_df2 = titanic_df.groupby(['Pclass','Sex'])
group_df2.mean()

                     Age     SibSp     Parch        Fare
Pclass Sex
1      female  41.333333  0.560000  0.500000  115.591168
       male    40.520000  0.403509  0.280702   75.586551
2      female  24.376552  0.533333  0.766667   26.438750
       male    30.940678  0.301587  0.142857   20.184654
3      female  23.073400  0.583333  0.597222   13.735129
       male    24.525104  0.404110  0.328767   11.826350

In [86]:
group_df2.mean().reset_index()

   Pclass     Sex        Age     SibSp     Parch        Fare
0       1  female  41.333333  0.560000  0.500000  115.591168
1       1    male  40.520000  0.403509  0.280702   75.586551
2       2  female  24.376552  0.533333  0.766667   26.438750
3       2    male  30.940678  0.301587  0.142857   20.184654
4       3  female  23.073400  0.583333  0.597222   13.735129
5       3    male  24.525104  0.404110  0.328767   11.826350

In [85]:
group_df2.mean().loc[1,'Age']

Sex
female    41.333333
male      40.520000
Name: Age, dtype: float64

#### Write(to_csv)

In [ ]:
titanic_df.to_csv('/content/drive/MyDrive/titanic_df', sep=',',na_rep='',index=True, header=True)

# 세션 보충 내용

### DataFrame 생성

In [ ]:
## 1) list를 이용한 DataFrame 생성
df1 = pd.DataFrame([['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h']])
df1

   0  1  2  3
0  a  b  c  d
1  e  f  g  h

In [ ]:
## 1-1) list로 생성 & index(행이름) 및 columns(열이름) 지정
df2 = pd.DataFrame([['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h']],
                    index=['row1', 'row2'],
                    columns=['first', 'second', 'third', 'fourth'])
df2

     first second third fourth
row1     a      b     c      d
row2     e      f     g      h

In [ ]:
## 2) dictionary로 생성
df3 = pd.DataFrame({'first': ['a', 'e'],
                     'second': ['b', 'f'],
                     'third': ['c', 'g'],
                     'fourth': ['d', 'h']},
                    index=['row1', 'row2'])
df3

     first second third fourth
row1     a      b     c      d
row2     e      f     g      h

In [ ]:
data = {'first': ['a', 'e'],
        'second': ['b', 'f'],
        'third': ['c', 'g'],
        'fourth': ['d', 'h']}

df4 = pd.DataFrame(data, 
                   index=['row1', 'row2'], 
                   columns=['fourth', 'third', 'second', 'first'])
df4

     fourth third second first
row1      d     c      b     a
row2      h     g      f     e

In [ ]:
## 3) ndarray로 생성
df5 = pd.DataFrame(np.array([['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h']]),
                    index=['row1', 'row2'],
                    columns=['first', 'second', 'third', 'fourth'])

df5

     first second third fourth
row1     a      b     c      d
row2     e      f     g      h

In [ ]:
df5 = pd.DataFrame(np.array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']).reshape(4, 2),
                   index=['first', 'second', 'third', 'fourth'],
                   columns=['col1', 'col2'])
df5

       col1 col2
first     a    b
second    c    d
third     e    f
fourth    g    h

##  Function(함수), Method(메소드), Property(속성)
* Function
    * 괄호()로 끝나 매개변수를 넣을 수 있는 명령어
    * 특정한 **동작** 수행 <br>
    ex) sum(...), abs(...)
* Method  
    * 괄호()로 끝나 매개변수를 넣을 수 있는 명령어
    * 클래스(class) 및 객체(object)와 연관되어있는 함수(function)
    * 특정한 **동작** 수행 <br>
    ex) df.drop(...)

* Property  
    * 괄호 없이 끝나는 명령어
    * 객체의 **특징, 상태** 표현 <br>
    ex) df.index, df.loc

## pandas 연산 메소드 이용

![스크린샷 2022-07-12 오후 1.44.10.png]()

In [ ]:
x[['a', 'b']]

   a  b
0  0  1
1  4  5
2  8  9

In [ ]:
print(a.add(b))
print('-'*30)

print(a.sub(b))
print('-'*30)

print(a.mul(b))
print('-'*30)

print(a.div(b))
print('-'*30)

print(a.mod(b))
print('-'*30)

print(a.pow(b))

0     1
1     9
2    17
dtype: int64
------------------------------
0   -1
1   -1
2   -1
dtype: int64
------------------------------
0     0
1    20
2    72
dtype: int64
------------------------------
0    0.000000
1    0.800000
2    0.888889
dtype: float64
------------------------------
0    0
1    4
2    8
dtype: int64
------------------------------
0            0
1         1024
2    134217728
dtype: int64

In [ ]:
x['d'] = [-1, 2, -3]
d = x['d']
d

0   -1
1    2
2   -3
Name: d, dtype: int64

In [ ]:
print(d.abs())

0    1
1    2
2    3
Name: d, dtype: int64

In [ ]:
x

   a  b   c  d
0  0  1   2 -1
1  4  5   6  2
2  8  9  10 -3

In [ ]:
## diff(): 차분
print(x.diff(axis=0))
print('-'*30)

print(x.diff(axis=1))

     a    b    c    d
0  NaN  NaN  NaN  NaN
1  4.0  4.0  4.0  3.0
2  4.0  4.0  4.0 -5.0
------------------------------
    a  b  c   d
0 NaN  1  1  -3
1 NaN  1  1  -4
2 NaN  1  1 -13

In [ ]:
## prod(): 누적곱
print(x.prod(axis=0))
print('-'*30)

print(x.prod(axis=1))

a      0
b     45
c    120
d      6
dtype: int64
------------------------------
0       0
1     240
2   -2160
dtype: int64

np.where(): 논리 연산 결과 추가 (엑셀에서의 if 함수)
- np.where(조건, 참일때 값, 거짓일때 값)  
조건을 AND로 연결하려면 &, OR로 연결하려면 | 사용

In [ ]:
df

      col1 col2  col3  col4  col5  col6
row1     1    a   0.1   1.0   NaN   1.0
row2     2    b   0.2   1.0   NaN   2.0
row3     3    c   0.3   1.0   NaN   3.0
row4     4    d   0.4   NaN   NaN   inf
row5     5    e   0.5   1.0   NaN  -inf

In [ ]:
df['col7'] = np.where((df['col6'] == np.inf) | 
                      (df['col6'] == -1*np.inf), 
                      'ok', 'no')   # 무한이면 ok, 무한이 아니면 no
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

In [ ]:
df['col7'] = np.where((df['col6'] == np.inf) | 
                      (df['col6'] == -1*np.inf), 
                      'ok', 'no')   # 무한이면 ok, 무한이 아니면 no
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

#### Viewing

## DataFrame의 구성요소

![image.png]()

In [ ]:
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

In [ ]:
## index 확인. df 인스턴스의 속성으로, Index 객체입니다.
df.index

Index(['row1', 'row2', 'row3', 'row4', 'row5'], dtype='object')

In [ ]:
## column 확인. df 인스턴스의 속성으로, Index 객체입니다.
df.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7'], dtype='object')

In [ ]:
## '값'만 확인하기. df 인스턴스의 속성으로, ndarray 객체입니다.
df.values

array([[1, 'a', 0.1, 1.0, nan, 1.0, 'no'],
       [2, 'b', 0.2, 1.0, nan, 2.0, 'no'],
       [3, 'c', 0.3, 1.0, nan, 3.0, 'no'],
       [4, 'd', 0.4, nan, nan, inf, 'ok'],
       [5, 'e', 0.5, 1.0, nan, -inf, 'ok']], dtype=object)

## DataFrame의 자료형

In [ ]:
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

In [ ]:
# 자료형 확인: df.dtype
for col in df.columns:
    print('{}: {}'.format(col, df[col].dtype))

col1: int64
col2: object
col3: float64
col4: float64
col5: float64
col6: float64
col7: object

In [ ]:
# 자료형 변경: df.astype()
df['col1'].astype('float64')

row1    1.0
row2    2.0
row3    3.0
row4    4.0
row5    5.0
Name: col1, dtype: float64

In [ ]:
df['col2'].astype('category')

row1    a
row2    b
row3    c
row4    d
row5    e
Name: col2, dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

더 많은 데이터 타입을 확인하려면 아래 공식 문서를 참고  
https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes

## DataFrame의 요약 정보 및 통계량

In [ ]:
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

### 4.3.1 요약 정보 확인하기

![스크린샷 2022-07-14 오전 3.06.57.png]()

In [ ]:
## df.shape, len(df)
print(df.shape)
print(df.shape[0])
print(df.shape[1])
print(len(df))

(5, 7)
5
7
5

In [ ]:
## df.head(): 상위 n개 row만 확인하기 (기본값: n=5)
print(df.head())
print('-'*30)

print(df.head(3))

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok
------------------------------
      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no

In [ ]:
## df.tail(): 하위 n개 row만 확인하기 (기본값: n=5)
print(df.tail())
print('-'*30)

print(df.tail(3))

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok
------------------------------
      col1 col2  col3  col4  col5  col6 col7
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int64
 1   col2    5 non-null      object
 2   col3    5 non-null      float64
 3   col4    4 non-null      float64
 4   col5    0 non-null      float64
 5   col6    5 non-null      float64
 6   col7    5 non-null      object
dtypes: float64(4), int64(1), object(2)
memory usage: 492.0+ bytes

In [ ]:
df.describe()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:4011: RuntimeWarning: invalid value encountered in multiply
  lerp_interpolation = asanyarray(add(a, diff_b_a*t, out=out))

           col1      col3  col4  col5  col6
count  5.000000  5.000000   4.0   0.0   5.0
mean   3.000000  0.300000   1.0   NaN   NaN
std    1.581139  0.158114   0.0   NaN   NaN
min    1.000000  0.100000   1.0   NaN  -inf
25%    2.000000  0.200000   1.0   NaN   1.0
50%    3.000000  0.300000   1.0   NaN   2.0
75%    4.000000  0.400000   1.0   NaN   NaN
max    5.000000  0.500000   1.0   NaN   inf

In [ ]:
## df.value_counts()
print(df['col2'].value_counts())
print('-'*30)

print(df['col2'].value_counts(normalize=True)) # normalize=True: 정규화. 비율로 표현

a    1
b    1
c    1
d    1
e    1
Name: col2, dtype: int64
------------------------------
a    0.2
b    0.2
c    0.2
d    0.2
e    0.2
Name: col2, dtype: float64

In [ ]:
df['col4']

row1    1.0
row2    1.0
row3    1.0
row4    NaN
row5    1.0
Name: col4, dtype: float64

In [ ]:
## df.unique()
df['col4'].unique()

array([ 1., nan])

### 4.3.2 통계량 메소드

매개변수  
- skipna: True or False. 결측치를 건너뛰고 계산할지  
- axis: 행 방향(0) or 열 방향(1). 생략 시 자동으로 행 방향(0)으로 계산

![스크린샷 2022-07-14 오전 3.07.23.png]()

In [ ]:
# 랜덤한 값을 가진 테이블 생성
y = pd.DataFrame(np.random.normal(size=(4, 5)), 
                 columns=list('abcde'))
y

          a         b         c         d         e
0  0.048035 -0.202445  1.763879  0.676540  0.319153
1 -0.278736  0.710177 -0.112140 -0.009926  1.988998
2  2.602590 -2.155881 -0.176635 -0.237201  0.155303
3  0.649656 -0.053454 -0.457652 -1.812671  0.255207

In [ ]:
print(y.sum())
print('-'*30)

print(y.count())

a    3.021546
b   -1.701604
c    1.017452
d   -1.383258
e    2.718660
dtype: float64
------------------------------
a    4
b    4
c    4
d    4
e    4
dtype: int64

In [ ]:
print(y.mean())
print('-'*30)

print(y.median())

a    0.755387
b   -0.425401
c    0.254363
d   -0.345814
e    0.679665
dtype: float64
------------------------------
a    0.348846
b   -0.127950
c   -0.144388
d   -0.123564
e    0.287180
dtype: float64

In [ ]:
print(y.std())
print('-'*30)

print(y.skew())
print('-'*30)

print(y.kurt())

a    1.290103
b    1.220949
c    1.017462
d    1.052219
e    0.875489
dtype: float64
------------------------------
a    1.503339
b   -1.338805
c    1.866745
d   -1.172230
e    1.964253
dtype: float64
------------------------------
a    2.187643
b    2.477757
c    3.612251
d    2.095088
e    3.884366
dtype: float64

In [ ]:
print(y.min())
print('-'*30)

print(y.idxmin())
print('-'*30)

print(y.quantile())

a   -0.278736
b   -2.155881
c   -0.457652
d   -1.812671
e    0.155303
dtype: float64
------------------------------
a    1
b    2
c    3
d    3
e    2
dtype: int64
------------------------------
a    0.348846
b   -0.127950
c   -0.144388
d   -0.123564
e    0.287180
Name: 0.5, dtype: float64

In [ ]:
print(y.cummin())
print('-'*50)

print(y.cumsum())
print('-'*50)

print(y.cumprod())

          a         b         c         d         e
0  0.048035 -0.202445  1.763879  0.676540  0.319153
1 -0.278736 -0.202445 -0.112140 -0.009926  0.319153
2 -0.278736 -2.155881 -0.176635 -0.237201  0.155303
3 -0.278736 -2.155881 -0.457652 -1.812671  0.155303
--------------------------------------------------
          a         b         c         d         e
0  0.048035 -0.202445  1.763879  0.676540  0.319153
1 -0.230700  0.507732  1.651739  0.666614  2.308150
2  2.371890 -1.648149  1.475104  0.429413  2.463454
3  3.021546 -1.701604  1.017452 -1.383258  2.718660
--------------------------------------------------
          a         b         c         d         e
0  0.048035 -0.202445  1.763879  0.676540  0.319153
1 -0.013389 -0.143772 -0.197802 -0.006715  0.634794
2 -0.034846  0.309955  0.034939  0.001593  0.098586
3 -0.022638 -0.016568 -0.015990 -0.002887  0.025160

공분산과 상관계수

In [ ]:
# Series 간의 공분산과 상관계수
print(y['a'].cov(y['b']))
print(y['a'].corr(y['b']))

-1.5226365833684377
-0.9666612233520393

In [ ]:
# DataFrame의 공분산과 상관계수 행렬
print(y.cov())
print('-'*30)

print(y.corr())

          a         b         c         d         e
a  1.664365 -1.522637 -0.469870 -0.238264 -0.674242
b -1.522637  1.490717  0.133788 -0.041393  0.718664
c -0.469870  0.133788  1.035229  0.805923 -0.165285
d -0.238264 -0.041393  0.805923  1.107165  0.212295
e -0.674242  0.718664 -0.165285  0.212295  0.766480
------------------------------
          a         b         c         d         e
a  1.000000 -0.966661 -0.357960 -0.175521 -0.596954
b -0.966661  1.000000  0.107696 -0.032220  0.672323
c -0.357960  0.107696  1.000000  0.752782 -0.185551
d -0.175521 -0.032220  0.752782  1.000000  0.230454
e -0.596954  0.672323 -0.185551  0.230454  1.000000

#### sort와 rank

## sort

In [ ]:
df6 = pd.DataFrame(np.arange(8).reshape(2, 4),
                  index=["three", "one"],
                  columns=["d", "a", "b", "c"])
df6

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
## sort_index(): index을 이용한 정렬. axis=0, ascending=True가 default
df6 = df6.sort_index()
df6

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
df6 = df6.sort_index(axis=1)
df6

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

In [ ]:
df6 = df6.sort_index(axis=1, ascending=False)
df6

       d  c  b  a
one    4  7  6  5
three  0  3  2  1

In [ ]:
# sort_values(): value를 이용한 정렬. a column의 값을 기준으로 행의 순서가 바뀜
df6.sort_values(by="a")

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
df6.sort_values(by="a", ascending=False)

       d  c  b  a
one    4  7  6  5
three  0  3  2  1

In [ ]:
df6.sort_values(by=["d"])

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
np.random.seed(100)
df7 = pd.DataFrame(np.random.randn(6, 4),
                 columns=["A", "B", "C", "D"],
                 index=pd.date_range("20160701", periods=6))
df7

                   A         B         C         D
2016-07-01 -1.749765  0.342680  1.153036 -0.252436
2016-07-02  0.981321  0.514219  0.221180 -1.070043
2016-07-03 -0.189496  0.255001 -0.458027  0.435163
2016-07-04 -0.583595  0.816847  0.672721 -0.104411
2016-07-05 -0.531280  1.029733 -0.438136 -1.118318
2016-07-06  1.618982  1.541605 -0.251879 -0.842436

In [ ]:
df7.sort_values(by="B", ascending=False)

                   A         B         C         D
2016-07-06  1.618982  1.541605 -0.251879 -0.842436
2016-07-05 -0.531280  1.029733 -0.438136 -1.118318
2016-07-04 -0.583595  0.816847  0.672721 -0.104411
2016-07-02  0.981321  0.514219  0.221180 -1.070043
2016-07-01 -1.749765  0.342680  1.153036 -0.252436
2016-07-03 -0.189496  0.255001 -0.458027  0.435163

In [ ]:
df7["E"] = np.random.randint(0, 6, size=6)
df7

                   A         B         C         D  E
2016-07-01 -1.749765  0.342680  1.153036 -0.252436  5
2016-07-02  0.981321  0.514219  0.221180 -1.070043  4
2016-07-03 -0.189496  0.255001 -0.458027  0.435163  2
2016-07-04 -0.583595  0.816847  0.672721 -0.104411  0
2016-07-05 -0.531280  1.029733 -0.438136 -1.118318  0
2016-07-06  1.618982  1.541605 -0.251879 -0.842436  2

In [ ]:
df7.sort_values(by=["E", "A"])

                   A         B         C         D  E
2016-07-04 -0.583595  0.816847  0.672721 -0.104411  0
2016-07-05 -0.531280  1.029733 -0.438136 -1.118318  0
2016-07-03 -0.189496  0.255001 -0.458027  0.435163  2
2016-07-06  1.618982  1.541605 -0.251879 -0.842436  2
2016-07-02  0.981321  0.514219  0.221180 -1.070043  4
2016-07-01 -1.749765  0.342680  1.153036 -0.252436  5

In [ ]:
df7.sort_values(by="2016-07-04", axis=1)

                   A         D  E         C         B
2016-07-01 -1.749765 -0.252436  5  1.153036  0.342680
2016-07-02  0.981321 -1.070043  4  0.221180  0.514219
2016-07-03 -0.189496  0.435163  2 -0.458027  0.255001
2016-07-04 -0.583595 -0.104411  0  0.672721  0.816847
2016-07-05 -0.531280 -1.118318  0 -0.438136  1.029733
2016-07-06  1.618982 -0.842436  2 -0.251879  1.541605

## rank

In [ ]:
df6

       d  c  b  a
one    4  7  6  5
three  0  3  2  1

In [ ]:
df6.rank()

         d    c    b    a
one    2.0  2.0  2.0  2.0
three  1.0  1.0  1.0  1.0

In [ ]:
df6.rank(axis=1)

         d    c    b    a
one    1.0  4.0  3.0  2.0
three  1.0  4.0  3.0  2.0

In [ ]:
df6.rank(axis=1, ascending=False)

         d    c    b    a
one    4.0  1.0  2.0  3.0
three  4.0  1.0  2.0  3.0

#### Editing

## index 및 column

In [ ]:
df

      col1 col2  col3  col4  col5  col6 col7
row1     1    a   0.1   1.0   NaN   1.0   no
row2     2    b   0.2   1.0   NaN   2.0   no
row3     3    c   0.3   1.0   NaN   3.0   no
row4     4    d   0.4   NaN   NaN   inf   ok
row5     5    e   0.5   1.0   NaN  -inf   ok

### 추가

In [ ]:
# 'row6'라는 새로운 이름으로 행을 인덱싱 -> 그 행이 바로 생성
df.loc['row6', :] = np.random.normal(size=df.shape[1])
df

          col1      col2   col3      col4      col5      col6    col7
row1  1.000000         a  0.100  1.000000       NaN  1.000000      no
row2  2.000000         b  0.200  1.000000       NaN  2.000000      no
row3  3.000000         c  0.300  1.000000       NaN  3.000000      no
row4  4.000000         d  0.400       NaN       NaN       inf      ok
row5  5.000000         e  0.500  1.000000       NaN      -inf      ok
row6  0.184519  0.937082  0.731  1.361556 -0.326238  0.055676  0.2224

In [ ]:
# 'col8'이라는 새로운 이름으로 열을 인덱싱 -> 그 열이 바로 생성
df.loc[:, 'col8'] = np.random.normal(size=df.shape[0])
df

,col1,col2,col3,col4,col5,col6,col7,col8
row1,1.000000,a,0.100,1.000000,NaN,1.000000,no,-1.443217
row2,2.000000,b,0.200,1.000000,NaN,2.000000,no,-0.756352
row3,3.000000,c,0.300,1.000000,NaN,3.000000,no,0.816454
row4,4.000000,d,0.400,NaN,NaN,inf,ok,0.750445
row5,5.000000,e,0.500,1.000000,NaN,-inf,ok,-0.455947
row6,0.184519,0.937082,0.731,1.361556,-0.326238,0.055676,0.2224,1.189622

### 제거

* drop()
    * **단일 행(열)을 제거할 때** -> 단일값,  
    * **여러 행(열)을 제거할 때** -> list 자료형

cf. drop과 같은 DataFrame(또는 Series) 형태 변형 메소드 사용 시 주의해야할 점으로,  
**형태 변형 결과의 반환값을 갱신해야한다**는 점이 있습니다.  
그냥 df.drop(...)을 사용하는 것이 아닌  
- df = df.drop(...) 으로 df라는 변수에 그 값을 할당하거나  
- df.drop(..., inplace=True) 로 메소드 자체적으로 반환값을 갱신해주어야 합니다.  

이는 drop 메소드 외에도 dropna, replace, reset_index 등의 메소드를 적용할 때에도 마찬가지입니다.

In [ ]:
df

,col1,col2,col3,col4,col5,col6,col7,col8
row1,1.000000,a,0.100,1.000000,NaN,1.000000,no,-1.443217
row2,2.000000,b,0.200,1.000000,NaN,2.000000,no,-0.756352
row3,3.000000,c,0.300,1.000000,NaN,3.000000,no,0.816454
row4,4.000000,d,0.400,NaN,NaN,inf,ok,0.750445
row5,5.000000,e,0.500,1.000000,NaN,-inf,ok,-0.455947
row6,0.184519,0.937082,0.731,1.361556,-0.326238,0.055676,0.2224,1.189622

In [ ]:
# 'row6' 행 삭제하기
df.drop('row6', axis=0)

      col1 col2  col3  col4  col5  col6 col7      col8
row1   1.0    a   0.1   1.0   NaN   1.0   no -1.443217
row2   2.0    b   0.2   1.0   NaN   2.0   no -0.756352
row3   3.0    c   0.3   1.0   NaN   3.0   no  0.816454
row4   4.0    d   0.4   NaN   NaN   inf   ok  0.750445
row5   5.0    e   0.5   1.0   NaN  -inf   ok -0.455947

In [ ]:
# 하지만 df를 다시 출력해보면?
df

,col1,col2,col3,col4,col5,col6,col7,col8
row1,1.000000,a,0.100,1.000000,NaN,1.000000,no,-1.443217
row2,2.000000,b,0.200,1.000000,NaN,2.000000,no,-0.756352
row3,3.000000,c,0.300,1.000000,NaN,3.000000,no,0.816454
row4,4.000000,d,0.400,NaN,NaN,inf,ok,0.750445
row5,5.000000,e,0.500,1.000000,NaN,-inf,ok,-0.455947
row6,0.184519,0.937082,0.731,1.361556,-0.326238,0.055676,0.2224,1.189622

In [ ]:
# 변경사항을 적용하기 위해서는 다음 두 가지 방법 중 하나를 이용
df = df.drop('row6', axis=0)
# df.drop('row6', axis=0, inplace=True))

In [ ]:
df

      col1 col2  col3  col4  col5  col6 col7      col8
row1   1.0    a   0.1   1.0   NaN   1.0   no -1.443217
row2   2.0    b   0.2   1.0   NaN   2.0   no -0.756352
row3   3.0    c   0.3   1.0   NaN   3.0   no  0.816454
row4   4.0    d   0.4   NaN   NaN   inf   ok  0.750445
row5   5.0    e   0.5   1.0   NaN  -inf   ok -0.455947

In [ ]:
# 'col7', 'col8' 열 삭제하기
df.drop(['col7', 'col8'], axis=1, inplace=True)

In [ ]:
df

      col1 col2  col3  col4  col5  col6
row1   1.0    a   0.1   1.0   NaN   1.0
row2   2.0    b   0.2   1.0   NaN   2.0
row3   3.0    c   0.3   1.0   NaN   3.0
row4   4.0    d   0.4   NaN   NaN   inf
row5   5.0    e   0.5   1.0   NaN  -inf

### 변경

In [ ]:
df

      col1 col2  col3  col4  col5  col6
row1   1.0    a   0.1   1.0   NaN   1.0
row2   2.0    b   0.2   1.0   NaN   2.0
row3   3.0    c   0.3   1.0   NaN   3.0
row4   4.0    d   0.4   NaN   NaN   inf
row5   5.0    e   0.5   1.0   NaN  -inf

- set_index(): 이미 존재하는 열 값을 인덱스로 지정

In [ ]:
df.set_index('col2')

      col1  col3  col4  col5  col6
col2
a      1.0   0.1   1.0   NaN   1.0
b      2.0   0.2   1.0   NaN   2.0
c      3.0   0.3   1.0   NaN   3.0
d      4.0   0.4   NaN   NaN   inf
e      5.0   0.5   1.0   NaN  -inf

In [ ]:
df

      col1 col2  col3  col4  col5  col6
row1   1.0    a   0.1   1.0   NaN   1.0
row2   2.0    b   0.2   1.0   NaN   2.0
row3   3.0    c   0.3   1.0   NaN   3.0
row4   4.0    d   0.4   NaN   NaN   inf
row5   5.0    e   0.5   1.0   NaN  -inf

- 새로운 인덱스 혹은 컬럼을 설정하려면  
df.index = *iterable*  (인덱스)  
df.columns = *iterable*  (칼럼)

In [ ]:
df.index = list('vwxyz')
df

   col1 col2  col3  col4  col5  col6
v   1.0    a   0.1   1.0   NaN   1.0
w   2.0    b   0.2   1.0   NaN   2.0
x   3.0    c   0.3   1.0   NaN   3.0
y   4.0    d   0.4   NaN   NaN   inf
z   5.0    e   0.5   1.0   NaN  -inf

- reset_index: 인덱스를 0부터 시작하는 정수로 초기화하기

In [ ]:
df.reset_index()    # 기존 index가 "index" 컬럼으로 추가됨

  index  col1 col2  col3  col4  col5  col6
0     v   1.0    a   0.1   1.0   NaN   1.0
1     w   2.0    b   0.2   1.0   NaN   2.0
2     x   3.0    c   0.3   1.0   NaN   3.0
3     y   4.0    d   0.4   NaN   NaN   inf
4     z   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
df.reset_index(drop=True, inplace=True)     # drop=True: 원래 존재하던 index들을 제거하고 리셋
df

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

- reindex(): 행 및 열 재배열. 매개변수로 입력된 sequence에 따라 재배열

In [ ]:
df.reindex(index=[0, 2, 4, 1, 3], 
           columns=['col1', 'col3', 'col5', 'col2', 'col4', 'col6'])

   col1  col3  col5 col2  col4  col6
0   1.0   0.1   NaN    a   1.0   1.0
2   3.0   0.3   NaN    c   1.0   3.0
4   5.0   0.5   NaN    e   1.0  -inf
1   2.0   0.2   NaN    b   1.0   2.0
3   4.0   0.4   NaN    d   NaN   inf

In [ ]:
# 존재하지 않는 행(열) 이름을 넣으면?
df.reindex(index=[0, 1, 2, 3, 4, 5, 6])

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf
5   NaN  NaN   NaN   NaN   NaN   NaN
6   NaN  NaN   NaN   NaN   NaN   NaN

reindex()의 method 매개변수는 이렇게 생성된 nan값을 어떻게 채울지 결정한다.  
- method='pad' 또는 'ffill': 앞쪽방향으로 채운다
- method='bfill' 또는 'backfill': 뒤쪽방향으로 채운다  
- method='nearest': 가장 근처에 있는 값으로 채운다  

(뒤쪽 결측치 처리 part에서도 다룸)

In [ ]:
df.reindex(index=[0, 1, 2, 3, 4, 5, 6], method='ffill')

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf
5   5.0    e   0.5   1.0   NaN  -inf
6   5.0    e   0.5   1.0   NaN  -inf

또는 fill_value 매개변수를 통해 원하는 값을 넣을 수 있다.

In [ ]:
df.reindex(index=[0, 1, 2, 3, 4, 5, 6], fill_value='★')

  col1 col2 col3 col4 col5 col6
0  1.0    a  0.1  1.0  NaN  1.0
1  2.0    b  0.2  1.0  NaN  2.0
2  3.0    c  0.3  1.0  NaN  3.0
3  4.0    d  0.4  NaN  NaN  inf
4  5.0    e  0.5  1.0  NaN -inf
5    ★    ★    ★    ★    ★    ★
6    ★    ★    ★    ★    ★    ★

## value

In [ ]:
df

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

- df.replace(대체될값, 대체할값, inplace, regex, ...)  

    cf. regex: 정규표현식. 자세한 내용은 공식 문서 참조  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

In [ ]:
# 바꿀 값이 1개일 때
df.replace(np.inf, 0)

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   0.0
4   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
# 바꿀 값이 여러개일 때: dictionary 활용. {대체될값: 대체할값}
df.replace({'a':'A', 'b':'B'})

   col1 col2  col3  col4  col5  col6
0   1.0    A   0.1   1.0   NaN   1.0
1   2.0    B   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

* 문자열 관련 함수
    * 단, 문자열만이 포함된 Series 혹은 DataFrame에만 적용 가능

In [ ]:
print(df['col2'].str.lower())  # 소문자로 변환
print('-'*30)

print(df['col2'].str.upper())  # 대문자로 변환
print('-'*30)

print(df['col2'].str.startswith('a'))  # 'a'로 시작하는 문자열인지 아닌지

0    a
1    b
2    c
3    d
4    e
Name: col2, dtype: object
------------------------------
0    A
1    B
2    C
3    D
4    E
Name: col2, dtype: object
------------------------------
0     True
1    False
2    False
3    False
4    False
Name: col2, dtype: bool

* numpy 소수점 관련 메소드

![스크린샷 2022-07-14 오전 3.10.07.png]()

In [ ]:
w = pd.DataFrame(np.random.normal(size=(2, 2)))
w

          0         1
0 -1.690617 -1.356399
1 -1.232435 -0.544439

In [ ]:
print(np.ceil(w))
print('-'*30)

print(np.floor(w))
print('-'*30)

print(np.rint(w))
print('-'*30)

print(np.around(w))
print('-'*30)

print(np.round_(w))
print('-'*30)

print(np.fix(w))
print('-'*30)

print(np.trunc(w))

     0    1
0 -1.0 -1.0
1 -1.0 -0.0
------------------------------
     0    1
0 -2.0 -2.0
1 -2.0 -1.0
------------------------------
     0    1
0 -2.0 -1.0
1 -1.0 -1.0
------------------------------
     0    1
0 -2.0 -1.0
1 -1.0 -1.0
------------------------------
     0    1
0 -2.0 -1.0
1 -1.0 -1.0
------------------------------
     0    1
0 -1.0 -1.0
1 -1.0 -0.0
------------------------------
     0    1
0 -1.0 -1.0
1 -1.0 -0.0

## Mapping

apply(): 함수를 각 값에 적용

In [ ]:
df

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
## 기존에 존재하는 함수 매핑
# col1 값을 문자열로 변환
df['col1'].apply(str)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: col1, dtype: object

In [ ]:
# col1 값에 로그씌우기
df['col1'].apply(np.log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
Name: col1, dtype: float64

In [ ]:
## 새로 정의한 함수 매핑
def custom_function(x): 
    return x ** 3

df['col1'].apply(custom_function)

0      1.0
1      8.0
2     27.0
3     64.0
4    125.0
Name: col1, dtype: float64

In [ ]:
# col2 값들의 앞 뒤에 각 문자열의 대문자를 추가하는 lambda 함수를 만들고 매핑
df['col2'].apply(lambda x: x.upper() + x + x.upper())

0    AaA
1    BbB
2    CcC
3    DdD
4    EeE
Name: col2, dtype: object

#### Missing Values

In [ ]:
df

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

## 결측치 판단

* isnull: 결측치인지 판별
* notnull: 결측치가 아닌지 판별

In [ ]:
df.isnull()

    col1   col2   col3   col4  col5   col6
0  False  False  False  False  True  False
1  False  False  False  False  True  False
2  False  False  False  False  True  False
3  False  False  False   True  True  False
4  False  False  False  False  True  False

In [ ]:
df.notnull()

   col1  col2  col3   col4   col5  col6
0  True  True  True   True  False  True
1  True  True  True   True  False  True
2  True  True  True   True  False  True
3  True  True  True  False  False  True
4  True  True  True   True  False  True

In [ ]:
## isnull(), notnull() + sum()
print(df.isnull().sum(axis=0))  # 열별 결측값 수
print('-'*30)

print(df.isnull().sum(axis=1))  # 행별 결측값 수

col1    0
col2    0
col3    0
col4    1
col5    5
col6    0
dtype: int64
------------------------------
0    1
1    1
2    1
3    2
4    1
dtype: int64

In [ ]:
## isnull(), notnull() + any(), all()
print(df['col4'].isnull())
print('-'*30)

print(df['col4'].isnull().any())    # 결측값이 하나라도 존재하면 True
print('-'*30)

print(df['col4'].isnull().all())    # 모든 값이 결측값이면 True

0    False
1    False
2    False
3     True
4    False
Name: col4, dtype: bool
------------------------------
True
------------------------------
False

In [ ]:
print(df['col5'].isnull())
print('-'*30)

print(df['col5'].isnull().any())    # 결측값이 하나라도 존재하면 True
print('-'*30)

print(df['col5'].isnull().all())    # 모든 값이 결측값이면 True

0    True
1    True
2    True
3    True
4    True
Name: col5, dtype: bool
------------------------------
True
------------------------------
True

## 결측치 보간

### fillna

In [ ]:
## fillna(): 결측치에 특정 값을 채움
df.fillna('★')

   col1 col2  col3 col4 col5  col6
0   1.0    a   0.1  1.0    ★   1.0
1   2.0    b   0.2  1.0    ★   2.0
2   3.0    c   0.3  1.0    ★   3.0
3   4.0    d   0.4    ★    ★   inf
4   5.0    e   0.5  1.0    ★  -inf

In [ ]:
# 각 열마다 다른 값으로 결측치 채우기
df.fillna(value={'col4': '★', 'col5': '☆'})

   col1 col2  col3 col4 col5  col6
0   1.0    a   0.1  1.0    ☆   1.0
1   2.0    b   0.2  1.0    ☆   2.0
2   3.0    c   0.3  1.0    ☆   3.0
3   4.0    d   0.4    ★    ☆   inf
4   5.0    e   0.5  1.0    ☆  -inf

In [ ]:
# method='ffill'/'bfill': 전진 혹은 후진하여 보간
df.fillna(method='ffill')

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   1.0   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
# axis=0/1: 보간 방향 설정
# 열방향 backward fill
df.fillna(method='bfill', axis=1)

  col1 col2 col3 col4 col5 col6
0  1.0    a  0.1  1.0  1.0  1.0
1  2.0    b  0.2  1.0  2.0  2.0
2  3.0    c  0.3  1.0  3.0  3.0
3  4.0    d  0.4  inf  inf  inf
4  5.0    e  0.5  1.0 -inf -inf

### dropna

In [ ]:
df

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
## dropna(): 결측치를 포함하는 행 또는 열 제거
df.dropna()

Empty DataFrame
Columns: [col1, col2, col3, col4, col5, col6]
Index: []

In [ ]:
# how='any'/'all': 하나의 값이라도 / 모든 값이 NaN인 행 또는 열 제거
df.dropna(axis=0, how='all')

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
3   4.0    d   0.4   NaN   NaN   inf
4   5.0    e   0.5   1.0   NaN  -inf

In [ ]:
# 결측치가 하나라도 존재하는 열 제거 
df.dropna(axis=1)

   col1 col2  col3  col6
0   1.0    a   0.1   1.0
1   2.0    b   0.2   2.0
2   3.0    c   0.3   3.0
3   4.0    d   0.4   inf
4   5.0    e   0.5  -inf

In [ ]:
# subset=[]: 특정 열에서만 결측치 제거
df.dropna(subset=['col4'])

   col1 col2  col3  col4  col5  col6
0   1.0    a   0.1   1.0   NaN   1.0
1   2.0    b   0.2   1.0   NaN   2.0
2   3.0    c   0.3   1.0   NaN   3.0
4   5.0    e   0.5   1.0   NaN  -inf

### interpolate

interpolate(): 다양한 보간법으로 결측값 채우기
- pad: forward fill
- nearest: 위치 상 가장 가까운 값으로 채우기
- linear: 선형보간법 (1차함수)
- polynomial: 2차 이상의 다항함수로 보간. 추가적으로 order(차수) 매개변수 필요

In [ ]:
df['col8'] = [1, 4, np.nan, np.nan, 25]

In [ ]:
df['col8'].interpolate(method='pad')

0     1.0
1     4.0
2     4.0
3     4.0
4    25.0
Name: col8, dtype: float64

In [ ]:
df['col8'].interpolate(method='nearest')

0     1.0
1     4.0
2     4.0
3    25.0
4    25.0
Name: col8, dtype: float64

In [ ]:
df['col8'].interpolate(method='linear')

0     1.0
1     4.0
2    11.0
3    18.0
4    25.0
Name: col8, dtype: float64

In [ ]:
df['col8'].interpolate(method='polynomial', order=2)

0     1.0
1     4.0
2     9.0
3    16.0
4    25.0
Name: col8, dtype: float64

이외의 다양한 보간법은 공식 문서 참조  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html

#### Merging

## concat

concat(): index 및 column을 기준으로 series 및 DataFrame 결합

![스크린샷 2022-07-13 오후 11.38.38.png]()

In [ ]:
df1 = pd.DataFrame({'col1': [1, 2], 
                    'col2': ['a', 'b']}, 
                    index=['row1', 'row2'])

df2 = pd.DataFrame({'col3': [3, 4], 
                    'col4': ['c', 'd']}, 
                    index=['row1', 'row2'])

df3 = pd.DataFrame([{'col1': 10, 
                     'col2': 'z'}], 
                    index=['row3'])

In [ ]:
df1

      col1 col2
row1     1    a
row2     2    b

In [ ]:
df2

      col3 col4
row1     3    c
row2     4    d

In [ ]:
df3

      col1 col2
row3    10    z

In [ ]:
df12 = pd.concat([df1, df2], axis=1)
df12

      col1 col2  col3 col4
row1     1    a     3    c
row2     2    b     4    d

In [ ]:
df13 = pd.concat([df1, df3], axis=0)
df13

      col1 col2
row1     1    a
row2     2    b
row3    10    z

## merge

merge(): 각 DataFrame에서 기준이 되는 key를 지정한 후, 그 key를 기준으로 테이블을 병합<br>

- inner join: 교집합. 해당 key의 데이터에서 두 테이블 모두에 그 데이터가 존재하는 행만 병합
- left(right) join: 한 테이블은 모두 보존하고, 그 테이블에 존재하는 key의 데이터들의 행만 다른 테이블에서 가져옴
- outer join: 두 테이블의 key 데이터들의 행을 전부 가져옴

![image.png]()

![스크린샷 2022-07-13 오후 11.42.07.png]()

In [ ]:
## left_on, right_on
df3 = pd.DataFrame({'id':[1,2,3,4], 'name':['kim','jo','park','lee']})
df4 = pd.DataFrame({'id':[3,4,5,6], 'score':[100,40,23,45]})

In [ ]:
df3

   id  name
0   1   kim
1   2    jo
2   3  park
3   4   lee

In [ ]:
df4

   id  score
0   3    100
1   4     40
2   5     23
3   6     45

In [ ]:
pd.merge(df3, df4, left_on='id', right_on='id', how='inner')

   id  name  score
0   3  park    100
1   4   lee     40

In [ ]:
pd.merge(df3, df4, left_on='id', right_on='id', how='left')

   id  name  score
0   1   kim    NaN
1   2    jo    NaN
2   3  park  100.0
3   4   lee   40.0

In [ ]:
pd.merge(df3, df4, left_on='id', right_on='id', how='right')

   id  name  score
0   3  park    100
1   4   lee     40
2   5   NaN     23
3   6   NaN     45

In [ ]:
pd.merge(df3, df4, left_on='id', right_on='id', how='outer')

   id  name  score
0   1   kim    NaN
1   2    jo    NaN
2   3  park  100.0
3   4   lee   40.0
4   5   NaN   23.0
5   6   NaN   45.0

In [ ]:
## left_index, right_index
df3 = pd.DataFrame({'name':['kim','jo','park','lee']}, index=['a','b','c','d'])
df4 = pd.DataFrame({'id':['c','d','e','f'], 'score':[100,40,23,45]})

In [ ]:
df3

   name
a   kim
b    jo
c  park
d   lee

In [ ]:
df4

  id  score
0  c    100
1  d     40
2  e     23
3  f     45

In [ ]:
pd.merge(df3, df4, left_index=True, right_on='id', how='inner')

   name id  score
0  park  c    100
1   lee  d     40

In [ ]:
pd.merge(df3, df4, left_index=True, right_on='id', how='left')

     name id  score
NaN   kim  a    NaN
NaN    jo  b    NaN
0.0  park  c  100.0
1.0   lee  d   40.0

In [ ]:
pd.merge(df3, df4, left_index=True, right_on='id', how='right')

   name id  score
0  park  c    100
1   lee  d     40
2   NaN  e     23
3   NaN  f     45

In [ ]:
pd.merge(df3, df4, left_index=True, right_on='id', how='outer')

     name id  score
NaN   kim  a    NaN
NaN    jo  b    NaN
0.0  park  c  100.0
1.0   lee  d   40.0
2.0   NaN  e   23.0
3.0   NaN  f   45.0

## join

In [ ]:
df7 = pd.DataFrame({"Ohio":[1, 3, 5],
                    "Seattle":[2, 4, 6]},
                    index=["a", "c", "e"])
df8 = pd.DataFrame({"Portlan":[7, 9, 11, 13],
                    "Texas":[8, 10, 12, 13]},
                    index=["b", "c", "d", "e"])
print(df7)
print(df8)

   Ohio  Seattle
a     1        2
c     3        4
e     5        6
   Portlan  Texas
b        7      8
c        9     10
d       11     12
e       13     13

In [ ]:
df7.join(df8)

   Ohio  Seattle  Portlan  Texas
a     1        2      NaN    NaN
c     3        4      9.0   10.0
e     5        6     13.0   13.0

In [ ]:
pd.merge(df7, df8, how="left", right_index=True, left_index=True)

   Ohio  Seattle  Portlan  Texas
a     1        2      NaN    NaN
c     3        4      9.0   10.0
e     5        6     13.0   13.0

In [ ]:
df7.join(df8, how="outer")

   Ohio  Seattle  Portlan  Texas
a   1.0      2.0      NaN    NaN
b   NaN      NaN      7.0    8.0
c   3.0      4.0      9.0   10.0
d   NaN      NaN     11.0   12.0
e   5.0      6.0     13.0   13.0

#### Grouping

## groupby

groupby(): 공통된 값을 기준으로 그룹화. 요약정보 제공

In [ ]:
df5 = pd.DataFrame({'class':[1,1,1,1,2,2,2,2],
                   'exam':['mathmatics','mathmatics',
                           'english','english',
                           'mathmatics','english',
                           'mathmatics','english'],
                   'score':[10,40,50,24,25,10,20,34]})

In [ ]:
df5

   class        exam  score
0      1  mathmatics     10
1      1  mathmatics     40
2      1     english     50
3      1     english     24
4      2  mathmatics     25
5      2     english     10
6      2  mathmatics     20
7      2     english     34

In [ ]:
# class를 기준으로 score 값들의 평균 구하기
df5.groupby('class').mean()

       score
class
1      31.00
2      22.25

In [ ]:
# Multiindex 지정
df5.groupby(['class','exam']).mean()

                  score
class exam
1     english      37.0
      mathmatics   25.0
2     english      22.0
      mathmatics   22.5

multiindex로 요약정보를 생성한 후 reset_index()를 이용하여 multiindex를 단일 index로 표현 가능

In [ ]:
df5.groupby(['class','exam']).mean().reset_index()

   class        exam  score
0      1     english   37.0
1      1  mathmatics   25.0
2      2     english   22.0
3      2  mathmatics   22.5

groupby.agg(): 여러 함수를 통한 그룹화

In [ ]:
# list를 이용해 다양한 요약값 출력
df5.groupby(['class', 'exam']).agg(['sum', 'max', 'min'])

                 score
                   sum max min
class exam
1     english       74  50  24
      mathmatics    50  40  10
2     english       44  34  10
      mathmatics    45  25  20

In [ ]:
# dictionary를 이용해 다양한 칼럼의 다양한 요약값 출력
df5.groupby(['class']).agg({'score':['sum', 'min', 'max'],
                            'exam':'count'})

      score          exam
        sum min max count
class
1       124  10  50     4
2        89  10  34     4

## pivot table

In [ ]:
df5

   class        exam  score
0      1  mathmatics     10
1      1  mathmatics     40
2      1     english     50
3      1     english     24
4      2  mathmatics     25
5      2     english     10
6      2  mathmatics     20
7      2     english     34

In [ ]:
# 행으로는 class의 종류, 열로는 exam의 종류를 배치한 후 해당하는 값들의 sum을 출력
pd.pivot_table(df5, index='class', columns='exam', values='score', aggfunc='sum')

exam   english  mathmatics
class
1           74          50
2           44          45

In [ ]:
# 위 groupby 동작과 동일한 결과의 피벗테이블 생성
pd.pivot_table(df5, 
               index='class', 
               values=['score', 'exam'], 
               aggfunc={'score': ['sum', 'min', 'max'],
                        'exam': 'count'})

       exam score
      count   max min  sum
class
1         4    50  10  124
2         4    34  10   89

####Read / Write

In [ ]:
df

   col1 col2  col3  col4  col5  col6  col8
0   1.0    a   0.1   1.0   NaN   1.0   1.0
1   2.0    b   0.2   1.0   NaN   2.0   4.0
2   3.0    c   0.3   1.0   NaN   3.0   NaN
3   4.0    d   0.4   NaN   NaN   inf   NaN
4   5.0    e   0.5   1.0   NaN  -inf  25.0

## csv

df.to_csv(): csv 파일로 내보내기
- sep: 구분자
- na_rep: 결측값 표기
- index: index (행 이름) 포함 여부
- header: 열 이름 포함 여부
- encoding: 인코딩 형식 지정. 기본값 'utf-8'  

이외의 다른 매개변수는 공식 문서 참조  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
df.to_csv('test.csv', sep='\t', index=False)

pd.read_csv(): csv 파일 불러오기
- sep: csv 파일: “,” / txt: “ “
- index_col: index열 지정 (숫자 / 열 이름)
- header: True: 열 이름이 있는 파일 / None: 열 이름이 없는 파일
- names=[]: 열(column) 이름 지정
- skiprows=[]: 특정 행(row)을 제외하고 불러옴
- nrows=n: n개의 행(row)만을 불러옴
- na_values=[]: 결측값 기호 표시
- dtype={key:dtype}: 열(column)별 자료형 지정

이외의 다른 매개변수는 공식 문서 참조  
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [ ]:
pd.read_csv('/content/test.csv', delimiter='\t')

   col1 col2  col3  col4  col5  col6  col8
0   1.0    a   0.1   1.0   NaN   1.0   1.0
1   2.0    b   0.2   1.0   NaN   2.0   4.0
2   3.0    c   0.3   1.0   NaN   3.0   NaN
3   4.0    d   0.4   NaN   NaN   inf   NaN
4   5.0    e   0.5   1.0   NaN  -inf  25.0

## excel

df.to_excel(): 엑셀 파일로 내보내기  
- sheet_name: 시트 이름 지정. 기본값 'Sheet1'
- na_rep: 결측값 표기
- header: 열 이름 포함 여부
- index: index(행 이름) 포함 여부
- encoding: 인코딩 형식을 지정. 기본값 'utf-8'  

이외의 다른 매개변수는 공식 문서 참조
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

In [ ]:
df.to_excel('test.xlsx', sheet_name='mySheet', index=False)

pd.read_excel() 를 이용해 이미 존재하는 csv파일을 읽을 수 있습니다.  
매개변수  
- sheet_name: 불러올 시트의 이름을 지정합니다.  
- header: 몇 번째 행을 열 이름으로 설정할지 지정합니다.  
header=None의 경우 열 이름을 지정하지 않습니다. header=0 의 경우 첫 번째 행을 열 이름으로 지정합니다.  
- index_col: 어떤 열을 인덱스로 지정할지 정합니다. 기본값 None(인덱스를 지정하지 않음).  
- dtype: 불러온 후 전체 테이블 혹은 각 칼럼의 데이터형을 지정합니다. (각 칼럼별로 지정 시 dictionary 형태로 지정)  

이외에도 다른 매개변수를 확인하시려면 공식 문서를 참조하세요.  
https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [ ]:
pd.read_excel('/content/test.xlsx', sheet_name='mySheet')

   col1 col2  col3  col4  col5  col6  col8
0     1    a   0.1   1.0   NaN   1.0   1.0
1     2    b   0.2   1.0   NaN   2.0   4.0
2     3    c   0.3   1.0   NaN   3.0   NaN
3     4    d   0.4   NaN   NaN   inf   NaN
4     5    e   0.5   1.0   NaN  -inf  25.0